.t1{
    color: black;
    float: left;
}ul{
    float: :right
    list-style-type: none;
}
li{
    float: left;
    padding: 10px;
    font-size: 22px;
}
nav{
    height: 50px;
    background-color: aqua;
}
